@charset "utf-8";
/* CSS Document */
body{ 
    background-color: gray;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 100vh;
    background-image: url(x-special/nautilus-clipboard
    copy
    file:///home/neal/Downloads/portfolio-background-3.jpeg
    );
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: crimson;
    box-shadow: 2px 2px 12px rgba(red, green, blue, alpha);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.logo{
    font-family: RoadTest;
    color: black;
    font-size: 22px;
}